*{
    margin: 0;
    padding: 0;
}

.Header-container{
    position: fixed;
    z-index: 999;
    top: 0;
    background: transparent;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}
.logo{

    user-select: none;
    font-size: 37px;
    font-weight: bold;
}

.home-container{
    width: 100%;
    height: 100vh;
    background: url('./MyComponents/images/homeimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Change the color and opacity here */
    z-index: 1; /* Adjust the z-index as needed */
  }


  .signup-container{
    position: relative;
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 40px;
    z-index: 2;
    background: white;
    border-radius: 10px;
  }

  .signup-text{
    font-size: 27px;
  }

  .home-text-container{
    position: relative;
    z-index: 2;
    color: white;
    width: 540px;
    height: 230px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

  }
  .home-text-container h1{
    font-size: 40px;
    font-weight: bold;
  }

  .courses-container{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

  }
  .colored-part{
    width: 100%;
    height: 50%;
    background: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    
    
  }
  .colored-part h1{
    font-size: 50px;
    font-weight: bolder;
    margin-top: 5vh;
  }
  .white-part{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    position: relative;
    top: -100px;
    
    
  }

  .course-card{
    height: 400px;
    width: 250px;
    background: grey;
    border: 2px solid black;
  }

  .programs-sections{
    width: 100%;
    height: 50px;
    border: 2px solid brown;
    position: relative;
    z-index: 10;
    
    
  }